@font-face {
  font-weight: 400;
  font-family: "Mak";
  font-style: normal;
  src: url("../fonts/mak/mak.woff2") format("woff2"),
    url("../fonts/mak/mak.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "Mak";
  font-style: normal;
  src: url("../fonts/mak/mak-bold.woff2") format("woff2"),
    url("../fonts/mak/mak-bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: "Songer";
  font-style: normal;
  src: url("../fonts/songer/songer-regular.woff2") format("woff2"),
    url("../fonts/songer/songer-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: "Songer";
  font-style: normal;
  src: url("../fonts/songer/songer-medium.woff2") format("woff2"),
    url("../fonts/songer/songer-medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: "Songer";
  font-style: normal;
  src: url("../fonts/songer/songer-bold.woff2") format("woff2"),
    url("../fonts/songer/songer-bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: "Songer";
  font-style: normal;
  src: url("../fonts/songer/songer-extrabold.woff2") format("woff2"),
    url("../fonts/songer/songer-extrabold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-weight: 900;
  font-family: "Songer";
  font-style: normal;
  src: url("../fonts/songer/songer-heavy.woff2") format("woff2"),
    url("../fonts/songer/songer-heavy.woff") format("woff");
  font-display: swap;
}