@font-face {
  font-weight: 400;
  font-family: 'Mak';
  font-style: normal;
  src: url('../fonts/mak/mak.woff2') format('woff2'), url('../fonts/mak/mak.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Mak';
  font-style: normal;
  src: url('../fonts/mak/mak-bold.woff2') format('woff2'),
    url('../fonts/mak/mak-bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: 'Body Grotesque';
  font-style: normal;
  src: url('../fonts/body-grotesque/body-bold.woff2') format('woff2'),
    url('../fonts/body-grotesque/body-bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: 'Body Grotesque';
  font-style: normal;
  src: url('../fonts/body-grotesque/body-extrabold.woff2') format('woff2'),
    url('../fonts/body-grotesque/body-extrabold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 800;
  font-family: 'Neue Machina';
  font-style: normal;
  src: url('../fonts/neue-machina/neue-machina-bold.woff2') format('woff2'),
    url('../fonts/neue-machina/neue-machina-bold.woff') format('woff');
  font-display: swap;
}
