@import 'utils';
html,
body {
  @apply text-dark;
  height: 100%;
  width: 100%;
  min-width: 375px;
  font-family: 'Body Grotesque', Arial, Helvetica, sans-serif;
}
#__nuxt {
  height: 100%;
  width: 100%;
}
